.button{
    background-color: cadetblue;
    color: chocolate;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover{
    background-color: chartreuse;
}